<div class="productList">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>Available</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let odd = odd; let even = even" [ngClass]="odd ? 'odd':'even'">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{categories[product.category].name}}</td>
          <td>{{product.isAvailable ? 'Yes': 'No'}}</td>
        </tr>
      </tbody>
    </table>
</div>